body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation a {
  padding: 24px 0;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  padding: 24px 0;
}

.header-addres-list {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
}

.header-addres {
  margin-left: auto;
}

.header-addres-item {
  
}

.header {
  border-bottom: 1px solid #e7e9fc
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.header-menu-list li:first-child .header-menu-link {
  color: #2e2f42;
}

.header-menu-list li:first-child .header-menu-link:hover {
  color: #404bbf;
}

.header-menu-list li:first-child .header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  position: relative;
}

.header-addres {
  font-style: normal;
}

.header-addres-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-addres-list:first-child a {
  color: #434455;
}

.header-addres-list:first-child a:hover {
  color: #404bbf;
}

.header-addres-list:first-child a:focus {
  color: #404bbf;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 0%;
  height: 4px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}

.header-menu-link:hover::after {
  width: 100%;
}

/* Section hero */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  padding: 188px 0;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  background-color: #4D5AE5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
}

.hero-btn:hover {
  background-color: #404BBF;
}

.hero-btn:focus {
  background-color: #404BBF;
}

/* Section futures */

.features {
  padding: 120px 0;
}

.features-sprite {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.team-sprite-block-items {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  margin-top: 8px;
}

.team-sprite-block-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
 }

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-item-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section team */

.team {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list { 
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-position {
  padding: 32px 0;
}

.team-img {}

.team-headline {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Section portfolio */

.main .portfolio {
  padding: 120px 0;
 }

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-img {}

.portfolio-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

footer>.container {
  display: flex;
}

.footer-logo {
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-media {
  margin-left: 120px;
  
}

.footer-social-media-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-sprite {
  gap: 16px;
}